In [76]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

C:\Users\91819\Downloads\_temp_matlab_R2020b_win64\python\lib\site-packages\IPython\core\magics\pylab.py:159: UserWarning: pylab import has clobbered these variables: ['mean', 'std']
`%matplotlib` prevents importing * from pylab and numpy
  warn("pylab import has clobbered these variables: %s"  % clobbered +

In [77]:
trainset = pd.read_csv('train.csv')
testset = pd.read_csv('test.csv')

In [78]:
trainset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [79]:
testset.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [80]:
trainset = trainset.drop(["PassengerId"],axis=1)

In [81]:
import re
deck = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "U": 8}
data = [trainset, testset]

for dataset in data:
    dataset['Cabin'] = dataset['Cabin'].fillna("U0")
    dataset['Deck'] = dataset['Cabin'].map(lambda x: re.compile("([a-zA-Z]+)").search(x).group())
    dataset['Deck'] = dataset['Deck'].map(deck)
    dataset['Deck'] = dataset['Deck'].fillna(0)
    dataset['Deck'] = dataset['Deck'].astype(int)
trainset = trainset.drop(["Cabin"],axis=1)
testset = testset.drop(["Cabin"],axis=1)

In [82]:
data = [trainset, testset]

for dataset in data:
    mean = trainset["Age"].mean()
    std = testset["Age"].std()
    is_null = dataset["Age"].isnull().sum()
    # compute random numbers between the mean, std and is_null
    rand_age = np.random.randint(mean - std, mean + std, size = is_null)
    # fill NaN values in Age column with random values generated
    age_slice = dataset["Age"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    dataset["Age"] = age_slice
    dataset["Age"] = trainset["Age"].astype(int)
trainset["Age"].isnull().sum()

0

In [83]:
common_value = 'S'
data = [trainset, testset]

for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].fillna(common_value)

In [84]:
data = [trainset, testset]

for dataset in data:
    dataset['Fare'] = dataset['Fare'].fillna(0)
    dataset['Fare'] = dataset['Fare'].astype(int)

In [85]:
data = [trainset, testset]
titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for dataset in data:
    # extract titles
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
    # replace titles with a more common title or as Rare
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr',\
                                            'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    # convert titles into numbers
    dataset['Title'] = dataset['Title'].map(titles)
    # filling NaN with 0, to get safe
    dataset['Title'] = dataset['Title'].fillna(0)

In [86]:
trainset = trainset.drop(["Name"],axis = 1)
testset=testset.drop(["Name"],axis=1)

In [87]:
trainset = trainset.drop(['Ticket'], axis=1)
testset = testset.drop(['Ticket'], axis=1)

In [88]:
genders = {"male": 0, "female": 1}
data = [trainset, testset]

for dataset in data:
    dataset['Sex'] = dataset['Sex'].map(genders)

In [89]:
ports = {"S": 0, "C": 1, "Q": 2}
data = [trainset, testset]

for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].map(ports)

In [90]:
data = [trainset, testset]
for dataset in data:
    dataset['Age'] = dataset['Age'].astype(int)
    dataset.loc[ dataset['Age'] <= 11, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 11) & (dataset['Age'] <= 18), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 18) & (dataset['Age'] <= 22), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 22) & (dataset['Age'] <= 27), 'Age'] = 3
    dataset.loc[(dataset['Age'] > 27) & (dataset['Age'] <= 33), 'Age'] = 4
    dataset.loc[(dataset['Age'] > 33) & (dataset['Age'] <= 40), 'Age'] = 5
    dataset.loc[(dataset['Age'] > 40) & (dataset['Age'] <= 66), 'Age'] = 6
    dataset.loc[ dataset['Age'] > 66, 'Age'] = 6

In [91]:
X_train = trainset.drop("Survived", axis=1)
Y_train = trainset["Survived"]
X_test  = testset.drop("PassengerId", axis=1).copy()

In [92]:
data = [trainset, testset]

for dataset in data:
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[(dataset['Fare'] > 31) & (dataset['Fare'] <= 99), 'Fare']   = 3
    dataset.loc[(dataset['Fare'] > 99) & (dataset['Fare'] <= 250), 'Fare']   = 4
    dataset.loc[ dataset['Fare'] > 250, 'Fare'] = 5
    dataset['Fare'] = dataset['Fare'].astype(int)

In [93]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

In [110]:
#Applying logistic regression model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=0)
lr.fit(X_train, Y_train)
Y_pred = lr.predict(X_test)
lr.score(X_train, Y_train)
acc_lr = round(lr.score(X_train, Y_train) * 100, 2)
print("Logistic Regression","Accuracy",round(acc_lr,2,), "%")

Logistic Regression Accuracy 81.59 %

C:\Users\91819\Downloads\_temp_matlab_R2020b_win64\python\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [111]:
#Classifying Using KNN
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p =2)
classifier.fit(X_train, Y_train)

KNeighborsClassifier()

In [112]:
Y_pred = classifier.predict(X_test)
classifier.score(X_train, Y_train)
acc_class = round(classifier.score(X_train, Y_train) * 100, 2)
print("KNN","Accuracy",round(acc_class,2,), "%")

KNN Accuracy 84.74 %

In [114]:
#classifying using SVM
from sklearn.svm import SVC
SVM= SVC(kernel='linear',random_state=0)
SVM.fit(X_train,Y_train)
# Predicting the Test set results
y_pred = SVM.predict(X_test)
SVM.score(X_train, Y_train)
acc_SVM = round(SVM.score(X_train, Y_train) * 100, 2)
print("SVM","Accuracy",round(acc_SVM,2,), "%")

SVM Accuracy 79.69 %

In [115]:
#Classifying using kernal SVM
KSVM= SVC(kernel='rbf',random_state=0)
KSVM.fit(X_train,Y_train)
# Predicting the Test set results
y_pred = KSVM.predict(X_test)
KSVM.score(X_train, Y_train)
acc_KSVM = round(KSVM.score(X_train, Y_train) * 100, 2)
print("KSVM","Accuracy",round(acc_KSVM,2,), "%")

SVM Accuracy 68.35 %

In [118]:
#Using Naive Bayes
nb= GaussianNB()
nb.fit(X_train,Y_train)
y_pred = nb.predict(X_test)
nb.score(X_train, Y_train)
acc_nb= round(nb.score(X_train, Y_train) * 100, 2)
print("Naive bayes","Accuracy",round(acc_nb,2,), "%")

Naive bayes Accuracy 77.55 %

In [120]:
#Using Decision Tree 
Decisiontree= DecisionTreeClassifier(criterion='entropy',random_state=0)
Decisiontree.fit(X_train,Y_train)
# Predicting the Test set results
y_pred = Decisiontree.predict(X_test)
Decisiontree.score(X_train, Y_train)
acc_Decisiontree= round(Decisiontree.score(X_train, Y_train) * 100, 2)
print("Decision tree classifier","Accuracy",round(acc_Decisiontree,2,), "%")

Decision tree classifier Accuracy 94.61 %

In [121]:
#using Random Forest
RandomForest= RandomForestClassifier(criterion='entropy',n_estimators=100,random_state=0)
RandomForest.fit(X_train,Y_train)
# Predicting the Test set results
y_pred = RandomForest.predict(X_test)
RandomForest.score(X_train, Y_train)
acc_RandomForest= round(RandomForest.score(X_train, Y_train) * 100, 2)
print("Random Forest classifier","Accuracy",round(acc_RandomForest,2,), "%")

Random Forest classifier Accuracy 94.61 %